p {
    font-size: 24px;
}

.subheader {
    margin-top: 140px;
    height: 80px;
    background-color: #302e31;
}

.subheaderCategory {
    display: inline-block;
    float: left;
    height: inherit;
    width: 360px;
    text-align: center;
    color: white;
    opacity: 0.5;
    font-family: "Roboto-Medium";
}

#cloud {
    position: absolute;
    top: 335;
}

.deck {
    margin-top: 100px;
    height: 1410px;
    z-index: 9;
 

}

#firstUnderlay {
    margin-bottom:
    z-index: 1;
}

#redCircle {
    position: absolute;
    left: 800;
    top: 715;
    z-index: 10;
}

#deckHeader { /* this will get changed per card */
    background-color: #D0021B;

}

#bubbleText {
    color: #e91e63;
    float: left;
    position: absolute;
    font-family: Roboto-Black;
    font-size: 40px;
    left: 137;
    top: 345;   
}

#invited {
    float: left;
    position: absolute;
    left: 96;
}

.secondTable {
    margin-top: 100px;
    margin-left: -20px;
}