#login{
    width: 800px;
    height: 100px;
    font-family: 'Roboto-Regular';
    font-size: 36px;
    border-radius: 50px;
    color:white;
    background-color: #F5A622;
    margin-left: 140px;
    -webkit-appearance: none;
    border:none;
}
#logo{
    width: 400px;
    margin: 100px 340px; 
}
#prompt{
    font-family: 'Roboto-Regular';
    font-size: 26px;
    text-align:center;
    color:white;
    margin-top: 100px;
}
#socialButtons{
    margin-left: 140px;
}
.socialLogin{
    margin: 0px 100px;
}
#blurb{
    background-image: url(photos/landing/bubble_invitedperson.png);
    background-size: cover;
    width: 300px;
    height: 200px;
}