#login{
    position: absolute;
    
    width: 600px;
    height: 100px;
    font-family: 'Roboto-Regular';
    font-size: 36px;
    background-image: url('../photos/landing/button_invite.svg');
    background-size: cover;
    margin-left: 240px;
    -webkit-appearance: none;
    border:none;
    text-align:center;
    margin-top: 50px;
    color: white !important;
}
a{
    color:white !important;
}
#logo{
    width: 400px;
    margin: 100px 340px; 
}
#prompt{
    font-family: 'Roboto-Regular';
    font-size: 26px;
    text-align:center;
    color:white;
    margin-top: 100px;
}
#socialButtons{
    margin-left: 0px;
    height: 100px;
}
.socialLogin{
    margin: 0px;
}
#blurb{
    background-image: url("../photos/landing/joinmi_bubble.svg");
    background-size: cover;
    width: 300px;
    height: 320px;
    margin: auto;
}
h1{
    margin: 100px 60px!important;
}
#splash{
    position:absolute;
    display: none;
    top:0px;
    left: 0px;
    z-index: 6;
    height: 1920px;
    width: 1080px;
    background-image: url("../photos/landing/loading_screen_blue.svg");
    background-size:cover;
}
