@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto-Black.ttf');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf');
}

html {
    height: 100%;\
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#751c7b, #371b70); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#751c7b, #371b70); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#751c7b, #371b70); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#751c7b, #371b70); /* Standard syntax */
}

body {
    min-height: 100%;
    margin: 0px
}
header{
    background-color:#302E31;
    width: 100%;
    height: 64px;
}
#hamburger{
    margin: 35px 0px 0px 20px;
    float: left;
}
h1{
    color: white;
    font-family: 'Roboto-Black';
    font-size: 18px;
    float:left;
    margin: 30px 115px 0px 115px;
}
#notification{
    margin:35px 20px 0px 0px;
}
