@font-face {
    font-family: 'Roboto-Black';
    src: url('Roboto-Black.ttf');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('Roboto-Regular.ttf');
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0px
}
