#headerTitle {
    padding-right: 55px;
    font-family: Roboto-Medium;
}

#deckHeader {
    background-color: #e62565;
}

#redPlusCircle {
    float: right;
    margin-right: -25px;
    padding-top: 730px;
}

.deck {
    height: 1480px;
}

#voteText {
    position: absolute;
    top: 200px;
    left: 120px;
}

.votingBar {
    float: right;
    height: 120px;
    width: 904px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    margin-right: 15px;
    box-shadow: 1px 5px 5px -6px;
    margin-top: 7px;
    
}

.event {
    font-family: Roboto-Regular;
    font-size: 36px;
    margin-bottom: 2px;
}

.eventInformation {
    opacity: 0.5;
    font-family: Roboto-Regular;
    font-size: 24px;
}

.scoreVoter {
    float: left;
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 12px;
    position: absolute;
}

.triangle {
    height: 20px;
    margin-left: 30px;
    margin-bottom: -5px;
}


.score {
    
    font-family: Roboto-Regular;
    color: #ea618f;
    padding-left: 30px;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}


.contentWritten {
    float: left;
    margin-left: 140px;
}

#firstbar {
    z-index: 1;
}

#secondbar {
    z-index: 2;
}

#thirdbar {
    z-index: 3;
}

#fourthbar {
    z-index: 4;
}
h3{
    margin:0px;
}
.winning{
    background-color: #E62565;
    color:white;
    height: 40px;
    position:absolute;
    width:100px;
    top:420px;
    left: 800px;
    border-radius: 20px;
    font-family: 'Roboto-Regular';
    text-align: center;
    padding-top:10px;
    
}